
/*


!/.gitignore
!/README.md
!/requirements.txt

!/notebooks/

!/data/


/data/*

!/data/dictionary/
!/data/raw/

output/
/data/process_data/
/data/label_stats.ipynb
/data/test_data.json
/data/train_data.json

.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
